# Part 1

In [1]:
pip install xlwings

Requirement already satisfied: xlwings in c:\python 310\lib\site-packages (0.33.15)
Requirement already satisfied: pywin32>=224 in c:\python 310\lib\site-packages (from xlwings) (304)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\python 310\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\python 310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import openpyxl

In [4]:
workbook = openpyxl.Workbook()

In [5]:
sheet1= workbook.active

In [6]:
sheet1['A1']="Hello"

In [7]:
sheet1['A2']='Hi'
workbook.save("sample.xlsx")

In [8]:
import os
os.listdir()

['.ipynb_checkpoints',
 'amazon.xlsx',
 'customer.xlsx',
 'excel_automation.ipynb',
 'P_month_mode.xlsx',
 'Random Sales Data.xlsx',
 'saleq.xlsx',
 'sample.xlsx',
 'source.xlsx',
 'source2.xlsx',
 'superstore.xlsx',
 'superstore_formula.xlsx',
 'superstore_pivot3.xlsx',
 'superstore_pivot_table1.xlsx',
 'withdate.xlsx']

In [9]:
# Loading a workbook and readng a excel file

In [10]:
wkb= openpyxl.load_workbook("amazon.xlsx") # wkb and workbook are same we can write vice versa

In [11]:
sheet= wkb['amazon']
cell_value = sheet['A1'].value
print(cell_value)

product_id

In [12]:
sheet['B1'].value

'product_name'

In [13]:
#  Adding a new worksheet
wkb1=openpyxl.load_workbook("sample.xlsx")

In [14]:
new_sheet=wkb1.create_sheet("Python")
new_sheet['A1'].value='How are you?'
wkb1.save("sample.xlsx")

In [15]:
wb=openpyxl.load_workbook('sample.xlsx')
ws=wb.active
print(ws)

<Worksheet "Sheet">

In [16]:
ws.title ='sales analytics'
ws.sheet_properties.tabColor='111111'
print(ws.title)
wb.save("sample.xlsx")

sales analytics

In [17]:
# Adding data into the worksheet

In [18]:
ls=["aman", "Bala", "Bani", 'Dhoni']

In [19]:
for i in range(0,len(ls)):
    ws['B'+str(i+1)].value=ls[i]

In [20]:
# Another Way
for i in range(0,len(ls)):
    ws.cell(row=i+1, column=5).value=ls[i]

In [21]:
wb.save("sample.xlsx")

In [22]:
ws.title

'sales analytics'

In [23]:
for col in ws['A']:
    print(col.value)

Hello
Hi
None
None

In [24]:
for col in ws['B']:
    print(col.value)

aman
Bala
Bani
Dhoni

In [25]:
for col in ws['A':'B']:
    print(col)

(<Cell 'sales analytics'.A1>, <Cell 'sales analytics'.A2>, <Cell 'sales analytics'.A3>, <Cell 'sales analytics'.A4>)
(<Cell 'sales analytics'.B1>, <Cell 'sales analytics'.B2>, <Cell 'sales analytics'.B3>, <Cell 'sales analytics'.B4>)

In [26]:
for row in ws.iter_rows(min_row=1, max_row=5, min_col=1, max_col=2):
    print(row)

(<Cell 'sales analytics'.A1>, <Cell 'sales analytics'.B1>)
(<Cell 'sales analytics'.A2>, <Cell 'sales analytics'.B2>)
(<Cell 'sales analytics'.A3>, <Cell 'sales analytics'.B3>)
(<Cell 'sales analytics'.A4>, <Cell 'sales analytics'.B4>)
(<Cell 'sales analytics'.A5>, <Cell 'sales analytics'.B5>)

In [27]:
for row in ws.iter_rows(min_row=1, max_row=5, min_col=1, max_col=2, values_only=True):
    print(row)

('Hello', 'aman')
('Hi', 'Bala')
(None, 'Bani')
(None, 'Dhoni')
(None, None)

In [28]:
for col in ws.iter_rows(min_row=1, max_row=5, min_col=1, max_col=2, values_only=True):
    print(col)

('Hello', 'aman')
('Hi', 'Bala')
(None, 'Bani')
(None, 'Dhoni')
(None, None)

# Part 2

In [29]:
import openpyxl as xl
filename= 'superstore.xlsx'

In [30]:
# reading the file in read_only mode: read_only
# Ignore formules whle loadng a workbook: data_only

In [31]:
%%time
df= xl.load_workbook(filename)

CPU times: total: 3.56 s
Wall time: 4.03 s

In [32]:
%%time
df=xl.load_workbook(filename, read_only=True)

CPU times: total: 0 ns
Wall time: 15.9 ms

In [33]:
#print worksheet name
df.sheetnames

['Orders', 'sheet41', 'sheet4', 'People', 'eDB', 'eDB1']

In [34]:
print([i for i in dir(df) if "_" not in i])

['active', 'calculation', 'chartsheets', 'close', 'encoding', 'epoch', 'index', 'path', 'properties', 'rels', 'remove', 'save', 'security', 'sheetnames', 'template', 'views', 'worksheets']

In [35]:
for sheet in df:
    print(sheet.title)

Orders
sheet41
sheet4
People
eDB
eDB1

In [36]:
# How we can set an object in  openpyxl
orders= df['Orders']

In [37]:
type(orders)

openpyxl.worksheet._read_only.ReadOnlyWorksheet

In [38]:
print(orders.cell.__doc__)

        Returns a cell object based on the given coordinates.

        Usage: cell(row=15, column=1, value=5)

        Calling `cell` creates cells in memory when they
        are first accessed.

        :param row: row index of the cell (e.g. 4)
        :type row: int

        :param column: column index of the cell (e.g. 3)
        :type column: int

        :param value: value of the cell (e.g. 5)
        :type value: numeric or time or string or bool or none

        :rtype: openpyxl.cell.cell.Cell

In [39]:
orders.cell(4,7).value

'Darrin Van Huff'

In [40]:
## Values Only

In [41]:
j = 0
for row in orders.values:
    j = j+1
    for value in row:
        print(value, end= " ")
    print("______")
    print()
    if j==4:
         break

Row ID Order ID Order Date Ship Date Ship Mode Customer ID Customer Name Segment Country City State Postal Code Region Product ID Category Sub-Category Product Name Sales before Discount Sales After Discount Quantity Discount Profit ______

1 CA-2016-152156 2016-11-08 00:00:00 2016-11-11 00:00:00 Second Class CG-12520 Claire Gute Consumer United States Henderson Kentucky 42420 South FUR-BO-10001798 Furniture Bookcases Bush Somerset Collection Bookcase 261.96 261.96 2 0 41.9136 ______

2 CA-2016-152156 2016-11-08 00:00:00 2016-11-11 00:00:00 Second Class CG-12520 Claire Gute Consumer United States Henderson Kentucky 42420 South FUR-CH-10000454 Furniture Chairs Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back 731.9399999999999 731.9399999999999 3 0 219.582 ______

3 CA-2016-138688 2016-06-12 00:00:00 2016-06-16 00:00:00 Second Class DV-13045 Darrin Van Huff Corporate United States Los Angeles California 90036 West OFF-LA-10000240 Office Supplies Labels Self-Adhesive Address Labels for Typewriters by Universal 14.62 14.62 2 0 6.8714 ______

In [42]:
# Inserting a Sheet

In [43]:
ws1= df.create_sheet("df2") 
# here we get error because we open df in read_only mode

ReadOnlyWorkbookException: Cannot create new sheet in a read-only workbook

In [44]:
df2= xl.load_workbook(filename, data_only=True)

In [45]:
ws1 = df2.create_sheet("eDB")

In [46]:
ws1.title

'eDB2'

In [47]:
df2.sheetnames

['Orders', 'sheet41', 'sheet4', 'People', 'eDB', 'eDB1', 'eDB2']

In [48]:
df.sheetnames

['Orders', 'sheet41', 'sheet4', 'People', 'eDB', 'eDB1']

In [49]:
#Addng a worksheet base on index

In [50]:
ws2 = df2.create_sheet("sheet4",1)

In [51]:
ws2.title

'sheet42'

In [52]:
df2.sheetnames

['Orders', 'sheet42', 'sheet41', 'sheet4', 'People', 'eDB', 'eDB1', 'eDB2']

In [53]:
df2.save(filename)

In [54]:
wkb2 = xl.Workbook("source.xlsx")

In [55]:
test1= wkb2.create_sheet("Test1") #Insert at the End by default
test2 = wkb2.create_sheet("Test2", 0) # Insert at the first position

In [56]:
wkb2.sheetnames

['Test2', 'Test1']

In [57]:
# How we can renaming the worksheet

In [58]:
wkb2.create_sheet("Text")
wkb2.save("source.xlsx")
wkb2.close()

In [59]:
f1= xl.load_workbook("source.xlsx", data_only=True)
print(f1.sheetnames)

['Test2', 'Test1', 'Text']

In [60]:
for sht in f1.sheetnames:
    if sht.startswith("T"):
        f1[sht].title='Sales' +str(i)
        i= i+1
f1.save("source2.xlsx")
f1.close()

In [61]:
#Delete the specific worksheet

In [62]:
f2= xl.load_workbook("source2.xlsx", data_only=True)
del f2["Sales5"]

In [63]:
f2.sheetnames

['Sales3', 'Sales4']

In [64]:
# How we can get an index of a worksheet

In [65]:
f2.sheetnames.index("Sales4")

1

In [66]:
# How to move the worksheet

In [67]:
f2.move_sheet(sheet="Sales4", offset=-1)

In [68]:
f2.sheetnames

['Sales4', 'Sales3']

In [69]:
f2.save("source2.xlsx")

In [70]:
# Copy the worksheet

In [71]:
f2.copy_worksheet(f2["Sales3"])

In [72]:
f2.save("source2.xlsx")

# Part 3

In [73]:
from openpyxl import load_workbook
import os

In [74]:
os.listdir()

['.ipynb_checkpoints',
 'amazon.xlsx',
 'customer.xlsx',
 'excel_automation.ipynb',
 'P_month_mode.xlsx',
 'Random Sales Data.xlsx',
 'saleq.xlsx',
 'sample.xlsx',
 'source.xlsx',
 'source2.xlsx',
 'superstore.xlsx',
 'superstore_formula.xlsx',
 'superstore_pivot3.xlsx',
 'superstore_pivot_table1.xlsx',
 'withdate.xlsx']

In [75]:
wkb= load_workbook("superstore.xlsx")

In [76]:
wkb.sheetnames

['Orders', 'sheet42', 'sheet41', 'sheet4', 'People', 'eDB', 'eDB1', 'eDB2']

In [77]:
order = wkb["Orders"]

In [78]:
order.title

'Orders'

In [79]:
# Apply filters to the range

In [80]:
order.auto_flter_ref= order.dimensions

In [81]:
order.dimensions

'A1:V9732'

In [82]:
fltered_worksheet= wkb.create_sheet(title ="Filtered_Data")

In [83]:
header = [cell.value for cell in order[1]]
fltered_worksheet.append(header)

In [84]:
print(header)

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales before Discount', 'Sales After Discount', 'Quantity', 'Discount', 'Profit']

In [85]:
#Apply the filter
filter_condition = 1000

In [86]:
header.index("Region")

12

In [87]:
[cell.value for cell in order[1]].index('Region')

12

In [88]:
for row_num, row in enumerate(order.iter_rows(min_row=2, values_only=True),2):
#     print(row_num, row)
    if row[17] > filter_condition:
        fltered_worksheet.append(row)

In [89]:
# Based on Multiple Criteria

In [90]:
filtered_saleQty=wkb.create_sheet(title = "FilteredSaleQty")
filtered_saleQty.append(header)

In [91]:
#Where sales is greater than 1000 and qty >=10

In [92]:
for row_num, row in enumerate(order.iter_rows(min_row=2, values_only=True),2):
    if (row[17] > filter_condition) and (row[19]>=10):
        filtered_saleQty.append(row)

In [93]:
wkb.save("saleq.xlsx")

In [94]:
# Filter with customer name

In [95]:
header.index("Customer Name")

6

In [96]:
ws=wkb.create_sheet(title = "cusfilter")

In [97]:
ws.append(header)

In [98]:
for row_num, row in enumerate(order.iter_rows(min_row=2, values_only=True),2):
    if (row[17] >filter_condition) and (row[19]>=10) and (row[7][0]=="A"):
        ws.append(row)

In [99]:
wkb.save("customer7.xlsx")

In [100]:
#How to filter the data based on date
ws1= wkb.create_sheet(title="customdate")
ws1.append(header)

In [101]:
header.index("Order Date")

2

In [102]:
from datetime import datetime
filter_date_condition =datetime(2016,11,28)
for row_num, row in enumerate(order.iter_rows(min_row=2, values_only=True),2):
    if (row[2] > filter_date_condition):
        ws1.append(row)

In [103]:
wkb.save("withdate.xlsx")

# Part 4

In [104]:
from openpyxl import load_workbook
workbook = load_workbook("superstore.xlsx")

In [105]:
workbook

In [106]:
workbook.worksheets

[<Worksheet "Orders">,
 <Worksheet "sheet42">,
 <Worksheet "sheet41">,
 <Worksheet "sheet4">,
 <Worksheet "People">,
 <Worksheet "eDB">,
 <Worksheet "eDB1">,
 <Worksheet "eDB2">]

In [107]:
# del workbook["eDB1"]

In [108]:
order= workbook['Orders']

In [109]:
print([cell.value for cell in order[1]])

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales before Discount', 'Sales After Discount', 'Quantity', 'Discount', 'Profit']

In [110]:
[cell.value for cell in order[1]].index("State")

10

In [111]:
#  Identify the column containig values to check for dupicates
source_c_index = [cell.value for cell in order[1]].index("State")

In [112]:
source_c_index

10

In [113]:
order.max_column

22

In [114]:
 unique_values=set()
for row in order.iter_rows(min_row =2, values_only=True):
    value = row[source_c_index]
    unique_values.add(value)

In [115]:
print(unique_values)

{'Delaware', 'New Jersey', 'South Carolina', 'Rhode Island', 'Arizona', 'Nevada', 'Montana', 'Tennessee', 'Wisconsin', 'Texas', 'New York', 'District of Columbia', 'Michigan', 'Virginia', 'Ohio', 'Illinois', 'Utah', 'Minnesota', 'Indiana', 'California', 'New Hampshire', 'Wyoming', 'Nebraska', 'Idaho', 'Georgia', 'Maine', 'Oklahoma', 'Kentucky', 'Arkansas', 'North Carolina', 'Florida', 'New Mexico', 'Oregon', 'Pennsylvania', 'Massachusetts', 'Louisiana', 'Washington', 'Iowa', 'Mississippi', 'Kansas', 'Colorado', 'Alabama', 'Maryland', 'South Dakota', 'West Virginia', 'Missouri', 'Connecticut', 'North Dakota', 'Vermont'}

In [116]:
len(unique_values)

49

In [117]:
new_c_index = order.max_column + 5

# Add headers for new columns
order.cell(1, new_c_index).value = "Unique State"
order.cell(1, new_c_index + 1).value = "Total Quantity"
order.cell(1, new_c_index + 2).value = "Total Quantity2"
order.cell(1, new_c_index + 3).value = "Postal Code"
order.cell(1, new_c_index + 4).value = "Data Transformation"
#Iterate through unique states and apply Sumif formula 
for i, state in enumerate(unique_values, start=2):
    order[f"Z{i}"] = state
    order[f"AA{i}"] = f'=SUMIF($K:$K,"{state}", S:S)'
    order[f"AB{i}"]=f'=SUMIF($K:$K,Z{i},S:S)'
    order[f'AC{i}']=f'=VLOOKUP(Z{i},$K:$L,2,0)'
    order[f'AD{i}']=f'=TEXT(C{i},"dddd dd - mmm - yyyy")'
workbook.save("superstore_formula.xlsx")

In [118]:
from openpyxl.utils import FORMULAE
print(sorted(FORMULAE))

['ABS', 'ACCRINT', 'ACCRINTM', 'ACOS', 'ACOSH', 'ADDRESS', 'AMORDEGRC', 'AMORLINC', 'AND', 'AREAS', 'ASC', 'ASIN', 'ASINH', 'ATAN', 'ATAN2', 'ATANH', 'AVEDEV', 'AVERAGE', 'AVERAGEA', 'AVERAGEIF', 'AVERAGEIFS', 'BAHTTEXT', 'BESSELI', 'BESSELJ', 'BESSELK', 'BESSELY', 'BETADIST', 'BETAINV', 'BIN2DEC', 'BIN2HEX', 'BIN2OCT', 'BINOMDIST', 'CEILING', 'CELL', 'CHAR', 'CHIDIST', 'CHIINV', 'CHITEST', 'CHOOSE', 'CLEAN', 'CODE', 'COLUMN', 'COLUMNS', 'COMBIN', 'COMPLEX', 'CONCATENATE', 'CONFIDENCE', 'CONVERT', 'CORREL', 'COS', 'COSH', 'COUNT', 'COUNTA', 'COUNTBLANK', 'COUNTIF', 'COUNTIFS', 'COUPDAYBS', 'COUPDAYS', 'COUPDAYSNC', 'COUPNCD', 'COUPNUM', 'COUPPCD', 'COVAR', 'CRITBINOM', 'CUBEKPIMEMBER', 'CUBEMEMBER', 'CUBEMEMBERPROPERTY', 'CUBERANKEDMEMBER', 'CUBESET', 'CUBESETCOUNT', 'CUBEVALUE', 'CUMIPMT', 'CUMPRINC', 'DATE', 'DATEDIF', 'DATEVALUE', 'DAVERAGE', 'DAY', 'DAYS360', 'DB', 'DCOUNT', 'DCOUNTA', 'DDB', 'DEC2BIN', 'DEC2HEX', 'DEC2OCT', 'DEGREES', 'DELTA', 'DEVSQ', 'DGET', 'DISC', 'DMAX', 'DMIN', 'DOLLAR', 'DOLLARDE', 'DOLLARFR', 'DPRODUCT', 'DSTDEV', 'DSTDEVP', 'DSUM', 'DURATION', 'DVAR', 'DVARP', 'ECMA.CEILING', 'EDATE', 'EFFECT', 'EOMONTH', 'ERF', 'ERFC', 'ERROR.TYPE', 'EVEN', 'EXACT', 'EXP', 'EXPONDIST', 'FACT', 'FACTDOUBLE', 'FALSE', 'FDIST', 'FIND', 'FINDB', 'FINV', 'FISHER', 'FISHERINV', 'FIXED', 'FLOOR', 'FORECAST', 'FREQUENCY', 'FTEST', 'FV', 'FVSCHEDULE', 'GAMMADIST', 'GAMMAINV', 'GAMMALN', 'GCD', 'GEOMEAN', 'GESTEP', 'GETPIVOTDATA', 'GROWTH', 'HARMEAN', 'HEX2BIN', 'HEX2DEC', 'HEX2OCT', 'HLOOKUP', 'HOUR', 'HYPERLINK', 'HYPGEOMDIST', 'IF', 'IFERROR', 'IMABS', 'IMAGINARY', 'IMARGUMENT', 'IMCONJUGATE', 'IMCOS', 'IMDIV', 'IMEXP', 'IMLN', 'IMLOG10', 'IMLOG2', 'IMPOWER', 'IMPRODUCT', 'IMREAL', 'IMSIN', 'IMSQRT', 'IMSUB', 'IMSUM', 'INDEX', 'INDIRECT', 'INFO', 'INT', 'INTERCEPT', 'INTRATE', 'IPMT', 'IRR', 'ISBLANK', 'ISERR', 'ISERROR', 'ISEVEN', 'ISLOGICAL', 'ISNA', 'ISNONTEXT', 'ISNUMBER', 'ISO.CEILING', 'ISODD', 'ISPMT', 'ISREF', 'ISTEXT', 'JIS', 'KURT', 'LARGE', 'LCM', 'LEFT', 'LEFTB', 'LEN', 'LENB', 'LINEST', 'LN', 'LOG', 'LOG10', 'LOGEST', 'LOGINV', 'LOGNORMDIST', 'LOOKUP', 'LOWER', 'MATCH', 'MAX', 'MAXA', 'MDETERM', 'MDURATION', 'MEDIAN', 'MID', 'MIDB', 'MIN', 'MINA', 'MINUTE', 'MINVERSE', 'MIRR', 'MMULT', 'MOD', 'MODE', 'MONTH', 'MROUND', 'MULTINOMIAL', 'N', 'NA', 'NEGBINOMDIST', 'NETWORKDAYS', 'NETWORKDAYS.INTL', 'NOMINAL', 'NORMDIST', 'NORMINV', 'NORMSDIST', 'NORMSINV', 'NOT', 'NOW', 'NPER', 'NPV', 'OCT2BIN', 'OCT2DEC', 'OCT2HEX', 'ODD', 'ODDFPRICE', 'ODDFYIELD', 'ODDLPRICE', 'ODDLYIELD', 'OFFSET', 'OR', 'PEARSON', 'PERCENTILE', 'PERCENTRANK', 'PERMUT', 'PHONETIC', 'PI', 'PMT', 'POISSON', 'POWER', 'PPMT', 'PRICE', 'PRICEDISC', 'PRICEMAT', 'PROB', 'PRODUCT', 'PROPER', 'PV', 'QUARTILE', 'QUOTIENT', 'RADIANS', 'RAND', 'RANDBETWEEN', 'RANK', 'RATE', 'RECEIVED', 'REPLACE', 'REPLACEB', 'REPT', 'RIGHT', 'RIGHTB', 'ROMAN', 'ROUND', 'ROUNDDOWN', 'ROUNDUP', 'ROW', 'ROWS', 'RSQ', 'RTD', 'SEARCH', 'SEARCHB', 'SECOND', 'SERIESSUM', 'SIGN', 'SIN', 'SINH', 'SKEW', 'SLN', 'SLOPE', 'SMALL', 'SQRT', 'SQRTPI', 'STANDARDIZE', 'STDEV', 'STDEVA', 'STDEVP', 'STDEVPA', 'STEYX', 'SUBSTITUTE', 'SUBTOTAL', 'SUM', 'SUMIF', 'SUMIFS', 'SUMPRODUCT', 'SUMSQ', 'SUMX2MY2', 'SUMX2PY2', 'SUMXMY2', 'SYD', 'T', 'TAN', 'TANH', 'TBILLEQ', 'TBILLPRICE', 'TBILLYIELD', 'TDIST', 'TEXT', 'TIME', 'TIMEVALUE', 'TINV', 'TODAY', 'TRANSPOSE', 'TREND', 'TRIM', 'TRIMMEAN', 'TRUE', 'TRUNC', 'TTEST', 'TYPE', 'UPPER', 'VALUE', 'VAR', 'VARA', 'VARP', 'VARPA', 'VDB', 'VLOOKUP', 'WEEKDAY', 'WEEKNUM', 'WEIBULL', 'WORKDAY', 'WORKDAY.INTL', 'XIRR', 'XNPV', 'YEAR', 'YEARFRAC', 'YIELD', 'YIELDDISC', 'YIELDMAT', 'ZTEST']

# Part 5

In [119]:
from openpyxl import Workbook
from openpyxl.utils import FORMULAE
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd

In [120]:
df =pd.read_excel("superstore.xlsx")

In [121]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales before Discount', 'Sales After Discount',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [122]:
pivot_table=pd.pivot_table(df,values=["Sales before Discount", "Quantity","Profit"],
                          index=["Category"], columns = ["Segment"],
                          aggfunc={"Sales before Discount":'sum', "Quantity":'sum', "Profit":'sum'})

In [123]:
pivot_table

                     Profit                         Quantity            \
Segment            Consumer   Corporate Home Office Consumer Corporate
Category
Furniture         6795.1429   8846.2651   2867.0314     4057      2448
Office Supplies  55758.3237  39760.6343  25154.3741    11392      6870
Technology       70010.1759  42451.8608  31339.4963     3540      2045

                            Sales before Discount
Segment         Home Office              Consumer    Corporate  Home Office
Category
Furniture              1323            382500.674  223918.2938  116030.5915
Office Supplies        4035            357286.140  228080.3680  120469.4220
Technology             1204            403297.305  240217.8190  156010.2390

In [124]:
# Load the superstore workbook using Openpyxl

In [125]:
wkb= load_workbook("superstore.xlsx")

In [126]:
wkb.worksheets

[<Worksheet "Orders">,
 <Worksheet "sheet42">,
 <Worksheet "sheet41">,
 <Worksheet "sheet4">,
 <Worksheet "People">,
 <Worksheet "eDB">,
 <Worksheet "eDB1">,
 <Worksheet "eDB2">]

In [127]:
wkb.create_sheet("SaleQtyProfit")

In [128]:
#set an object
category = wkb["SaleQtyProfit"]

In [129]:
# Write the Pivot Table to the Worksheet

In [130]:
for row in dataframe_to_rows(pivot_table, index=True, header=True):
    category.append(row)

In [131]:
wkb.save("superstore_pivot_table1.xlsx")

In [132]:
pivot_1= pd.pivot_table(df, values=["Sales before Discount", "Profit", "Quantity"],
                       index= ["State"], columns='Region',
                       aggfunc={"Sales before Discount":'sum',"Quantity":'sum', "Profit":'sum'},
                        fill_value=0,
                       margins=True, margins_name="Grand Total")

In [133]:
pivot_1

                          Profit                                       \
Region                   Central        East       South         West
State
Alabama                   0.0000      0.0000   5786.8253       0.0000
Arizona                   0.0000      0.0000      0.0000   -3127.7974
Arkansas                  0.0000      0.0000   3571.4396       0.0000
California                0.0000      0.0000      0.0000   75026.4011
Colorado                  0.0000      0.0000      0.0000   -6521.3041
Connecticut               0.0000   3511.4918      0.0000       0.0000
Delaware                  0.0000   9974.2934      0.0000       0.0000
District of Columbia      0.0000   1059.5893      0.0000       0.0000
Florida                   0.0000      0.0000  -1844.0995       0.0000
Georgia                   0.0000      0.0000  16178.8255       0.0000
Idaho                     0.0000      0.0000      0.0000     826.7231
Illinois             -12514.4656      0.0000      0.0000       0.0000
Indiana               18347.0839      0.0000      0.0000       0.0000
Iowa                   1183.8119      0.0000      0.0000       0.0000
Kansas                  836.4435      0.0000      0.0000       0.0000
Kentucky                  0.0000      0.0000   9632.2314       0.0000
Louisiana                 0.0000      0.0000   1869.5351       0.0000
Maine                     0.0000    454.4862      0.0000       0.0000
Maryland                  0.0000   7031.1788      0.0000       0.0000
Massachusetts             0.0000   6785.5016      0.0000       0.0000
Michigan              24257.2404      0.0000      0.0000       0.0000
Minnesota             10714.9956      0.0000      0.0000       0.0000
Mississippi               0.0000      0.0000   3130.1639       0.0000
Missouri               6329.4194      0.0000      0.0000       0.0000
Montana                   0.0000      0.0000      0.0000    1833.3285
Nebraska               2037.0942      0.0000      0.0000       0.0000
Nevada                    0.0000      0.0000      0.0000    3291.9947
New Hampshire             0.0000   1706.5028      0.0000       0.0000
New Jersey                0.0000   9723.3090      0.0000       0.0000
New Mexico                0.0000      0.0000      0.0000    1157.1161
New York                  0.0000  74655.2410      0.0000       0.0000
North Carolina            0.0000      0.0000  -7474.6305       0.0000
North Dakota            230.1497      0.0000      0.0000       0.0000
Ohio                      0.0000 -16787.3786      0.0000       0.0000
Oklahoma               4853.9560      0.0000      0.0000       0.0000
Oregon                    0.0000      0.0000      0.0000   -1215.7462
Pennsylvania              0.0000 -15579.3816      0.0000       0.0000
Rhode Island              0.0000   7285.6293      0.0000       0.0000
South Carolina            0.0000      0.0000   1663.9612       0.0000
South Dakota            350.0599      0.0000      0.0000       0.0000
Tennessee                 0.0000      0.0000  -5308.0498       0.0000
Texas                -25098.3481      0.0000      0.0000       0.0000
Utah                      0.0000      0.0000      0.0000    2499.5703
Vermont                   0.0000   2244.9783      0.0000       0.0000
Virginia                  0.0000      0.0000  16868.1915       0.0000
Washington                0.0000      0.0000      0.0000   33064.1406
West Virginia             0.0000    185.9216      0.0000       0.0000
Wisconsin              8195.4844      0.0000      0.0000       0.0000
Wyoming                   0.0000      0.0000      0.0000     100.1960
Grand Total           39722.9252  92251.3629  44074.3937  106934.6227

                                  Quantity                            \
Region                Grand Total  Central     East   South     West
State
Alabama                 5786.8253      0.0      0.0   256.0      0.0
Arizona                -3127.7974      0.0      0.0     0.0    832.0
Arkansas                3571.4396      0.0      0.0   213.0      0.0
California             75026.4011      0.0      0.0     0.0   7544.0
Colorado               -6521.3041      0.0      0.0     0.0    686.0
Connecticut             3511.4918      0.0    281.0     0.0      0.0
Delaware                9974.2934      0.0    365.0     0.0      0.0
District of Columbia    1059.5893      0.0     40.0     0.0      0.0
Florida                -1844.0995      0.0      0.0  1281.0      0.0
Georgia                16178.8255      0.0      0.0   697.0      0.0
Idaho                    826.7231      0.0      0.0     0.0     64.0
Illinois              -12514.4656   1803.0      0.0     0.0      0.0
Indiana                18347.0839    566.0      0.0     0.0      0.0
Iowa                    1183.8119    112.0      0.0     0.0      0.0
Kansas                   836.4435     74.0      0.0     0.0      0.0
Kentucky                9632.2314      0.0      0.0   488.0      0.0
Louisiana               1869.5351      0.0      0.0   136.0      0.0
Maine                    454.4862      0.0     35.0     0.0      0.0
Maryland                7031.1788      0.0    420.0     0.0      0.0
Massachusetts           6785.5016      0.0    491.0     0.0      0.0
Michigan               24257.2404    914.0      0.0     0.0      0.0
Minnesota              10714.9956    300.0      0.0     0.0      0.0
Mississippi             3130.1639      0.0      0.0   207.0      0.0
Missouri                6329.4194    238.0      0.0     0.0      0.0
Montana                 1833.3285      0.0      0.0     0.0     56.0
Nebraska                2037.0942    136.0      0.0     0.0      0.0
Nevada                  3291.9947      0.0      0.0     0.0    160.0
New Hampshire           1706.5028      0.0    127.0     0.0      0.0
New Jersey              9723.3090      0.0    447.0     0.0      0.0
New Mexico              1157.1161      0.0      0.0     0.0    151.0
New York               74655.2410      0.0   4135.0     0.0      0.0
North Carolina         -7474.6305      0.0      0.0   967.0      0.0
North Dakota             230.1497     30.0      0.0     0.0      0.0
Ohio                  -16787.3786      0.0   1714.0     0.0      0.0
Oklahoma                4853.9560    247.0      0.0     0.0      0.0
Oregon                 -1215.7462      0.0      0.0     0.0    488.0
Pennsylvania          -15579.3816      0.0   2121.0     0.0      0.0
Rhode Island            7285.6293      0.0    199.0     0.0      0.0
South Carolina          1663.9612      0.0      0.0   161.0      0.0
South Dakota             350.0599     38.0      0.0     0.0      0.0
Tennessee              -5308.0498      0.0      0.0   669.0      0.0
Texas                 -25098.3481   3651.0      0.0     0.0      0.0
Utah                    2499.5703      0.0      0.0     0.0    198.0
Vermont                 2244.9783      0.0     50.0     0.0      0.0
Virginia               16868.1915      0.0      0.0   810.0      0.0
Washington             33064.1406      0.0      0.0     0.0   1837.0
West Virginia            185.9216      0.0     18.0     0.0      0.0
Wisconsin               8195.4844    457.0      0.0     0.0      0.0
Wyoming                  100.1960      0.0      0.0     0.0      4.0
Grand Total           282983.3045   8566.0  10443.0  5885.0  12020.0

                                 Sales before Discount              \
Region               Grand Total               Central        East
State
Alabama                      256                0.0000       0.000
Arizona                      832                0.0000       0.000
Arkansas                     213                0.0000       0.000
California                  7544                0.0000       0.000
Colorado                     686                0.0000       0.000
Connecticut                  281                0.0000   13384.357
Delaware                     365                0.0000   27441.129
District of Columbia          40                0.0000    2865.020
Florida                     1281                0.0000       0.000
Georgia                      697                0.0000       0.000
Idaho                         64                0.0000       0.000
Illinois                    1803            78571.0850       0.000
Indiana                      566            53450.5100       0.000
Iowa                         112             4579.7600       0.000
Kansas                        74             2914.3100       0.000
Kentucky                     488                0.0000       0.000
Louisiana                    136                0.0000       0.000
Maine                         35                0.0000    1270.530
Maryland                     420                0.0000   23705.523
Massachusetts                491                0.0000   28634.434
Michigan                     914            75298.1180       0.000
Minnesota                    300            29613.2300       0.000
Mississippi                  207                0.0000       0.000
Missouri                     238            21669.8800       0.000
Montana                       56                0.0000       0.000
Nebraska                     136             7464.9300       0.000
Nevada                       160                0.0000       0.000
New Hampshire                127                0.0000    7292.524
New Jersey                   447                0.0000   35648.952
New Mexico                   151                0.0000       0.000
New York                    4135                0.0000  306287.601
North Carolina               967                0.0000       0.000
North Dakota                  30              919.9100       0.000
Ohio                        1714                0.0000   77803.352
Oklahoma                     247            19683.3900       0.000
Oregon                       488                0.0000       0.000
Pennsylvania                2121                0.0000  115848.354
Rhode Island                 199                0.0000   22627.956
South Carolina               161                0.0000       0.000
South Dakota                  38             1162.9200       0.000
Tennessee                    669                0.0000       0.000
Texas                       3651           168679.5208       0.000
Utah                         198                0.0000       0.000
Vermont                       50                0.0000    8929.370
Virginia                     810                0.0000       0.000
Washington                  1837                0.0000       0.000
West Virginia                 18                0.0000    1209.824
Wisconsin                    457            31645.7100       0.000
Wyoming                        4                0.0000       0.000
Grand Total                36914           495653.2738  672948.926


Region                     South         West   Grand Total
State
Alabama                19510.640       0.0000  1.951064e+04
Arizona                    0.000   34514.7030  3.451470e+04
Arkansas                9818.730       0.0000  9.818730e+03
California                 0.000  448616.8625  4.486169e+05
Colorado                   0.000   31388.5420  3.138854e+04
Connecticut                0.000       0.0000  1.338436e+04
Delaware                   0.000       0.0000  2.744113e+04
District of Columbia       0.000       0.0000  2.865020e+03
Florida                63367.707       0.0000  6.336771e+04
Georgia                48933.110       0.0000  4.893311e+04
Idaho                      0.000    4382.4860  4.382486e+03
Illinois                   0.000       0.0000  7.857109e+04
Indiana                    0.000       0.0000  5.345051e+04
Iowa                       0.000       0.0000  4.579760e+03
Kansas                     0.000       0.0000  2.914310e+03
Kentucky               31434.240       0.0000  3.143424e+04
Louisiana               7929.770       0.0000  7.929770e+03
Maine                      0.000       0.0000  1.270530e+03
Maryland                   0.000       0.0000  2.370552e+04
Massachusetts              0.000       0.0000  2.863443e+04
Michigan                   0.000       0.0000  7.529812e+04
Minnesota                  0.000       0.0000  2.961323e+04
Mississippi            10667.840       0.0000  1.066784e+04
Missouri                   0.000       0.0000  2.166988e+04
Montana                    0.000    5589.3520  5.589352e+03
Nebraska                   0.000       0.0000  7.464930e+03
Nevada                     0.000   16674.4620  1.667446e+04
New Hampshire              0.000       0.0000  7.292524e+03
New Jersey                 0.000       0.0000  3.564895e+04
New Mexico                 0.000    4783.5220  4.783522e+03
New York                   0.000       0.0000  3.062876e+05
North Carolina         55036.407       0.0000  5.503641e+04
North Dakota               0.000       0.0000  9.199100e+02
Ohio                       0.000       0.0000  7.780335e+04
Oklahoma                   0.000       0.0000  1.968339e+04
Oregon                     0.000   17310.6140  1.731061e+04
Pennsylvania               0.000       0.0000  1.158484e+05
Rhode Island               0.000       0.0000  2.262796e+04
South Carolina          7580.870       0.0000  7.580870e+03
South Dakota               0.000       0.0000  1.162920e+03
Tennessee              30284.151       0.0000  3.028415e+04
Texas                      0.000       0.0000  1.686795e+05
Utah                       0.000   10939.7800  1.093978e+04
Vermont                    0.000       0.0000  8.929370e+03
Virginia               62898.110       0.0000  6.289811e+04
Washington                 0.000  135943.6180  1.359436e+05
West Virginia              0.000       0.0000  1.209824e+03
Wisconsin                  0.000       0.0000  3.164571e+04
Wyoming                    0.000    1603.1360  1.603136e+03
Grand Total           347461.575  711747.0775  2.227811e+06

In [134]:
wkb.create_sheet("SalesQ")

In [135]:
#Set an  object
state= wkb["SalesQ"]

In [136]:
for row in dataframe_to_rows(pivot_1, index=True, header=True):
    state.append(row)

In [137]:
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales before Discount,Sales After Discount,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,731.94,3,0.0,219.5820

In [138]:
# Add a column for month

In [139]:
df["Month_Name"]= df["Order Date"].dt.month_name()

In [140]:
pivot2=pd.pivot_table(df, values=["Sales before Discount"], index=["Month_Name"],
                     columns=["Ship Mode"], aggfunc={"Sales before Discount":'sum'},
                     fill_value=0, margins=True, margins_name="Grand_Total")

In [141]:
pivot2

            Sales before Discount                                          \
Ship Mode             First Class    Same Day Second Class Standard Class
Month_Name
April                  25960.4740    3251.604   21574.7980   8.697525e+04
August                 21520.8618    5228.042   35094.6555   9.720050e+04
December               51606.1470   15207.535   75185.2235   1.832946e+05
February                6074.4654    2183.340   19070.7560   2.790280e+04
January                11429.8780     738.689   24543.9766   4.397540e+04
July                   19575.2670   15578.667   33790.7350   7.829343e+04
June                   26160.1602    7286.437   38394.0950   8.087799e+04
March                  42705.4080    8886.398   29444.0030   7.333646e+04
May                    16823.1770    8841.015   19870.6974   1.094939e+05
November               41588.3245   24420.648   66477.8778   2.199742e+05
October                49089.3340   14684.092   29540.2520   1.070093e+05
September              35490.3560   20492.117   58172.1616   1.934953e+05
Grand_Total           348023.8529  126798.584  451159.2314   1.301829e+06


Ship Mode     Grand_Total
Month_Name
April        1.377621e+05
August       1.590441e+05
December     3.252935e+05
February     5.523136e+04
January      8.068794e+04
July         1.472381e+05
June         1.527187e+05
March        1.543723e+05
May          1.550288e+05
November     3.524611e+05
October      2.003230e+05
September    3.076499e+05
Grand_Total  2.227811e+06

In [142]:
wkb.create_sheet("P_month_mode")

In [143]:
monthwiseSales=wkb['P_month_mode']

In [144]:
for row in dataframe_to_rows(pivot2, index=True, header=True):
    monthwiseSales.append(row)

In [145]:
wkb.sheetnames

['Orders',
 'sheet42',
 'sheet41',
 'sheet4',
 'People',
 'eDB',
 'eDB1',
 'eDB2',
 'SaleQtyProfit',
 'SalesQ',
 'P_month_mode']

In [146]:
from openpyxl.styles import Font, PatternFill
from openpyxl.styles import Alignment

In [147]:
# Apply bold font and background color to the header row
for sheet in wkb.sheetnames:
    if sheet.startswith("P_"):
        for cell in wkb[sheet][1]:
            cell.font=Font(color='FF0000', bold=True)
            cell.fill=PatternFill(start_color="FFFF00", end_color="FFFF00",fill_type="solid")

In [148]:
wkb.save("P_month_mode.xlsx")

In [149]:
wkb[sheet]

In [150]:
wkb[sheet].merge_cells('A1:F1')
wkb[sheet]['A1'] = 'Sales'
wkb[sheet]['A1'].alignment= Alignment(horizontal='center', vertical='center')
wkb.save("superstore_pivot3.xlsx")